<section class="work" id="work">
    <h2>My Portfolio</h2>

    <div class="project-width-max">
        <img class="image" src="../../assets/images/iPhone 15moveEasy home.png" alt="project">
        <div class="work-description">
            <p class="subheading-small">Moving APP</p>

            <h3>MoveEasy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elit velit, imperdiet eget tempor non, faucibus eget tortor. Sed eleifend sodales.
            </p>

        </div>
    </div>
    <div class="project-row">
        <div class="project-width-half">
            <img class="image" src="../../assets/images/MacBook Pro 16torpedo home.png" alt="project">
        </div>
        <div class="project-width-half">
            <img class="image" src="../../assets/images/MacBook Pro 16dog training home.png" alt="project">
        </div>

    </div>
    <div class="project-width-max">
        <img class="image" src="../../assets/images/iPhone 15dummy phone.png" alt="project">
        <div class="work-description">
            <p class="subheading-small">Lorem Ipsum dolor</p>

            <h3>Lorem</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elit velit, imperdiet eget tempor non, faucibus eget tortor. Sed eleifend sodales.

            </p>

        </div>
    </div>
</section>