.final-product-wrapper {
    margin: 0 50px;
    padding-top: 20px;
border-top: 1px solid #C5D4EC;
margin-bottom: 50px;
}

.final-product-wrapper h2 {
    text-align: left;
}

.final-product {
    display: flex;
    gap: 20px;
    @media(max-width:650px){
        flex-wrap:wrap;
    }
}

.final-product-text, .final-product-image {
    @media(min-width:650px){
        flex: 0 0 50%;
    }
}