.detail{
    display: flex;
}

.detail-element {
    width: 33%;
}

.elements-heading {
    text-transform: uppercase;
margin-bottom: 0;
}

.detail-header{
    margin: 0 50px;
}

.detail-header h2 {
    text-align:left;
}