<div class="detail-header">
    <span class="subheading-small">
        Case Study
    </span>
    <h2> “MoveEasy — A User-Centric Solution for International Relocation” </h2>
    <div class="detail">
        <div class="detail-element">
            <p class="elements-heading">Client</p>
            <p>IUBH</p>
        </div>
        <div class="detail-element">
            <p class="elements-heading">My Role</p>
            <p>Prototyping, UX Design, User Research</p>
        </div> 
        <div class="detail-element">
            <p class="elements-heading">Platform</p>
            <p>Tablet, Mobile</p>
        </div>
    </div>
</div>