<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="header-bottom" data-animation="zoomIn">
        <div class="container">
            <div class="headings d-flex flex-column justify-content-center">
                <p>{{headerContent.subHeading}}</p>
                <h1>{{headerContent.heading}}</h1>
                <p class="subheading-large">{{headerContent.text}}</p>
                <button type="button" class="button button-primary">{{headerContent.button.text}}</button>
            </div>
        </div>
    </div>
</header>