
  .header-bottom {
    margin-top: 45px;
  }
  @media (min-width: 992px) {
    .header-bottom {
      margin-top: 90px;
    }
  }
  .header-bottom .headings {
    height: 70vh;
  }

  .header-bottom .headings .button {
    width: fit-content;
  }

  