<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 d-flex align-items-center">
                    <a href="#">
                        <img class="logo" src="../../assets/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="col-sm-6 col-lg-9">
                    <nav>
                        <input type="checkbox" id="nav" class="hidden"/>
                        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
                        <div class="nav-container hide-me">
                            <ul>
                                <li *ngFor="let menu of menuItems"><a href="#">{{menu.name}}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom" data-animation="zoomIn">
        <div class="container">
            <div class="headings d-flex flex-column justify-content-center">
                <p>{{headerContent.subHeading}}</p>
                <h1>{{headerContent.heading}}</h1>
                <p class="subheading-large">{{headerContent.text}}</p>
                <button type="button" class="btn btn-primary">{{headerContent.button.text}}</button>
            </div>
        </div>
    </div>
</header>