<section class="about-me" id="about">
        <h2>About me</h2>
        <div class="about-me-content">
                <p class="about-me-text"> Currently, I am pursuing my studies at IU Fernuni, majoring in UX Design, with an anticipated completion date of January 2025.

                    In my professional capacity, I serve as a Quality Auditor at Amazon. Additionally, I have had the privilege of participating in an apprenticeship program focusing on Learning Experience Design (LXD), augmenting my skills in crafting engaging e-learning materials.
                    My approach to UX design revolves around a comprehensive understanding of user behavior, which I leverage to develop meticulously crafted wireframes and prototypes.
                </p>
            <div class="skillbar-wrapper">
                <div class="skill_wrapper">
                    <div class="description">
                        <span>Figma</span>
                    </div>
                    <div class="progress_bar_wrapper">
                        <div class="pro-progress_bar ninety" data-percent="90"></div>
                    </div>
                </div>
                <div class="skill_wrapper">
                    <div class="description">
                        <span>Articulate Storyline</span>
                    </div>
                    <div class="progress_bar_wrapper">
                        <div class="pro-progress_bar seventyfive" data-percent="75"></div>
                    </div>
                </div>
                <div class="skill_wrapper">
                    <div class="description">
                        <span>Illustrator</span>
                    </div>
                    <div class="progress_bar_wrapper">
                        <div class="pro-progress_bar eightyfive" data-percent="85"></div>
                    </div>
                </div>
                <div class="skill_wrapper">
                    <div class="description">
                        <span>HTML</span>
                    </div>
                    <div class="progress_bar_wrapper">
                        <div class="pro-progress_bar fiftyfive" data-percent="55"></div>
                    </div>
                </div>
                <div class="skill_wrapper">
                    <div class="description">
                        <span>Lorem Ipsum</span>
                    </div>
                    <div class="progress_bar_wrapper">
                        <div class="pro-progress_bar eighty" data-percent="80"></div>
                    </div>
                </div>

            </div>
        </div>
        <button href="../../assets/downloads/lebenslauf.pdf" class="button button-primary" target="_blank">Download CV</button>

</section>